html {
    min-height: 100%;
}
body {
    background-image: linear-gradient(-75deg, #4E65FF, #92EFFD);
    height: 100%;
    padding: 50px;
}
h1 {
    color: rgb(255, 255, 255);
}
label, input {
    display: inline-block;
}
input {
    width: 20rem;
    padding: 12px;
    border-radius: 4px;
    border-color: black;
    border-width: thin;
}

label {
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
}
button {
    margin-top: 40px;
    width: 200px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
}

button:hover {
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: transparent;
  }
  
  table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
  }
  
  table tr {
    background-color: transparent;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  
